@import "../../style/variables.scss";
.userPage {
  background-color: #eaeaea;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}
.root{
  display: grid;
  grid-template-columns: auto 1fr;
}

.profileHeader {
  min-width: 800px;
  display: grid;
  grid-template-rows: [item-1-start] 200px [item-2-start] 50px [item-1-end] 60px [item-2-end];
  margin-top: 50px;
  width: 100%;
  height: 250px;
  .bgImg {
    position: relative;
    grid-area: item-1;
    z-index: 1;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    height: 100%;
    img {
      max-width: 800px;
      overflow: auto;
    }
  }
  .avatar {
    overflow: hidden;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 4px solid #fff;
    margin-bottom: 30px;
    img {
      overflow: auto;
      max-width: 130px;
    }
  }
  .infoUser {
    padding-left: 20px;
    position: relative;
    z-index: 2;
    grid-area: item-2;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    border-radius: 20px 20px 0 0;
  }
  .data {
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .info {
    display: flex;
    justify-content: flex-end;
    height: 70%;
  }
  .icons {
    color: #3665c5;
  }
  .textInfo {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: $font-glory;
    span {
      line-height: 12px;
      margin-left: 5px;
    }
  }
  .userName {
    margin-top: 24px;
    height: 30%;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    font-family: $font-glory;
  }
}
