@import "../../../../style/variables.scss";
.root {
  min-width: 800px;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb($color: #000000, $alpha: 0.7);
  .block {
    position: relative;
    display: grid;
    align-items: center;
    border-radius: 20px;
    min-width: 500px;
    width: 30%;
    background-color: #fff;
    .header{
      text-align: center;
      position: relative;
      margin-top: 20px;
      font-size: 24px;
      font-weight: 600;
      font-family: $font-glory;
      width: 100%;
      margin-bottom: 20px;
    }
    .wrapperBtn{
      display: flex;
      .saveChanges {
        position: relative;
        height: 40px;
        width: 80%;
        margin-left: 20px;
        margin-right: 10px;
        background-color: #3665c5;
        border-radius: 20px;
        font-size: 14px;
        border-radius: 8px;
        font-weight: 600;
        font-family: $font-glory;
        color: #fff;
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      .exitBtn{
        height: 40px;
        width: 30%;
        justify-self: end;
        margin-bottom: 20px;
        margin-right: 20px;
        background-color: #e22525;
        border-radius: 20px;
        font-size: 14px;
        border-radius: 8px;
        font-weight: 600;
        font-family: $font-glory;
        color: #fff;
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
    .exit{
      right: 0;
      top: 0;
      background: none;
      position: absolute;
      margin-right: 20px;
      cursor: pointer;
      &:hover{
        color: #e22525;
      }
    }
    .wrapper{
      font-family: $font-glory;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
      margin-left: 20px;
      .labelTop{
        margin-bottom: 3px;
      }
      input{
        outline: none;
        height: 40px;
        border: 1px solid rgb(97, 97, 97);
        width: 300px;
        border-radius: 5px;
        background-color: white;
        padding-left: 5px;
        &:focus{
          background-color: rgb(240, 239, 239);
        }
      }
      textarea{
        outline: none;
        width: 80%;
        border: 1px solid rgb(97, 97, 97);
        height: 50px;
        border-radius: 5px;
        background-color: white;
        padding-left: 5px;
        resize: none;
        &:focus{
          background-color: rgb(240, 239, 239);
        }
      }
      .error{
        margin-top: 5px;
        color: red;
        font-size: 12px;
      }
    }
    .changeText {
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      font-family: $font-glory;
    }
    .inputFileBlock {
      display: flex;
      width: 90%;
      height: 70%;
      border: 1px dashed #a2a2a6;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 20px;
      background-color: #fff;
      font-size: 14px;
      border-radius: 8px;
      font-weight: 600;
      font-family: $font-glory;
    }
    .input_file {
      position: relative;
      display: inline-block;
      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
      }
      span {
        margin-top: 50%;
        position: relative;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        border-radius: 4px;
        background-color: #3665c5;
        line-height: 22px;
        color: #fff;
        height: 40px;
        padding: 10px 20px;
        box-sizing: border-box;
        border: none;

        &:hover {
          opacity: 0.9;
        }

        &:active {
          transform: scale(0.9);
        }
      
      }
    }
    button{
      border: none;
    }
  }
}
